/* Reset some basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
  }
  
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    transition: transform 0.3s;
  }
  
  .container:hover {
    transform: scale(1.02);
  }
  
  .container img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .imagen-producto-detalle{
    width: 100%;
  }
  
  h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
  }
  
  p {
    font-size: 83px;
    color: #666;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    transform: scale(0.98);
  }
  
  /* Loader styling for loading state */
  .loading {
    text-align: center;
    font-size: 1.2em;
    color: #aaa;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    h1 {
      font-size: 1.6em;
    }
  
    p {
      font-size: 1.5em;
    }
  
    input[type="text"], button {
      font-size: 1em;
      padding: 12px;
    }
  }
  